/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: blue;
}
.pictures {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.games{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pictures {
  width: 650px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pictures div {
  width: 200px;
  height: 200px;
  background-color: black;
}
.pictures div img {
  width: 200px;
  height: 200px;
  display:none;
}
