/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  column-gap: 41%;
}
.header h1 {
  /* display: inline; */
  justify-self: center;
  align-self: center;
}
.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}
.pictures {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.games {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 50px;
}
.info p {
  width: 200px;
}
.start-btn {
  width: 500px;
  height: 500px;
  padding: 10px;
  border-radius: 50%;
  font-size: 50px;
}
.start-btn:hover {
  cursor: pointer;
}
.pictures {
  width: 850px;
  height: 850px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.pictures div {
  width: 200px;
  height: 200px;
  background-color: rgb(128, 113, 113);
  flex-wrap: wrap;
  border-radius: 15px;
  /* transform-style: preserve-3d; */
}
.pictures div img {
  width: 200px;
  height: 200px;
  display: none;
}
/* .flipCard {
  transform: rotateY(180deg);
  border-radius: 5px;
  position: absolute;
} */

.score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  margin-left: 100px;
}
.score h3 {
  border: 3px solid white;
  border-radius: 30px;
  padding: 30px 50px 30px 10px;
  color: aliceblue;
  background-color: rgb(124, 121, 117);
}